# Python virtual environment
DLLs/
Doc/
include/
Lib/
libs/
Scripts/
tcl/
*.exe
*.dll

# Jupyter and Python temp files
*.ipynb
*.py[cod]
__pycache__/

# Large data files
*.bin.gz
*.pkl
*.model
*.trigrams.txt

# Specific large files
A3_Vector_Space_Model/data/GoogleNews-vectors-negative300.bin.gz
A3_Vector_Space_Model/twitter_analysis_data.pkl
A4_Language_Modelling_&_Semantic_Parsing/data/tweets/covid-tweets-2020-08-10-2020-08-21.trigrams.txt

# Misc files
brackets.txt
test.py
20000_tweets.txt
*/code.py
Q1.ipynb
Q2.ipynb
q4.ipynb
testing.ipynb